@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

html, body {
    background-color: #23272A;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.center-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}

h3 {
    font-weight: 400;
}
